.logo{
    width: 400px;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 100px;
    right: 100px;
    border-radius: 100px;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    
    
}

.logo .content{
      width: 300px;
      height: 300px;
      background: transparent;
      border: 25px solid #fff;
      border-radius: 100px;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
}

.logo .content .circle{
    width: 150px;
    height: 150px;
    background: transparent;
    border-radius: 100%;
    border: 25px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}

.logo .content .circle::after{
    width: 50px;
    height: 50px;
    background: #fff;
    position: absolute;
    left: 150px;
    top: -50px;
    content: '';
    border-radius: 100%;

}